[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
requests = "*"
mypy = "*"
autopep8 = "*"
flake8 = "*"
pytest = "*"
bandit = "*"
pydocstyle = "*"
sphinx = "*"

[requires]
python_version = "3.10"
